language: c++

os:
  - linux
  - osx

env:
  matrix:
  - NODE_VERSION="6"
  - NODE_VERSION="8"
  
before_install:
  - rm -rf ~/.nvm/
  - curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
  - source ~/.nvm/nvm.sh
  - nvm install "$NODE_VERSION"
  
install:
  - npm install

script:
  - npm test
